.container {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    circle at top,
    rgb(13, 10, 63),
    rgb(22, 18, 90),
    rgb(32, 29, 112)
  );
}
